.title {
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
}

.newsTitle {
  text-align: center;
}

.description {
  margin-left: 10px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}